body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  &:not(.dark),
  &.light {
    color: #333333;
    background-color: #ecedf5;

    .searchbar {
      background-color: white;
      filter: drop-shadow(#d2d5d9 4px 4px 10px);

      input {
        background-color: white;
        color: #333333;
      }

      button {
        background-color: #4aa8ff;
        color: white;
      }
    }

    .profile {
      background-color: #fff;
      filter: drop-shadow(#d2d5d9 4px 4px 10px);
    }

    .login {
      color: #4aa8ff;
    }

    .stats {
      background-color: #ecedf5;
    }
  }

  &.dark {
    color: white;
    background-color: #222433;

    .searchbar {
      background-color: #323658;
      filter: drop-shadow(#000 4px 4px 10px);

      input {
        background-color: #323658;
        color: white;
      }

      button {
        background-color: #4aa8ff;
        color: white;
      }
    }

    .profile {
      background-color: #323658;
      filter: drop-shadow(#000 4px 4px 10px);
    }

    .login {
      color: #4aa8ff;
      font-weight: 700;
    }

    .stats {
      background-color: #222433;
    }
  }
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.App {
  width: 100%;
  max-width: 700px;
  margin: 30px;
}

#logo {
  font-size: 1.5em;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

.switch {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
}

.switch img {
  width: 25px;
  height: 25px;
  position: relative;
  top: 5px;
}

.searchbar {
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .magnifying-glass {
    padding: 10px;
    height: 20px;
  }

  input {
    font-family: 'Space Mono', monospace;
    padding-left: 15px;
    font-size: 1.2em;
    border: none;
    height: 35px;
    width: 100%;
    margin-right: 15px;

    &::placeholder {
      opacity: 0.6;
    }

    &:focus {
      outline: none;
    }
  }

  button {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 1em;
    border: none;
    padding: 12px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
}

.profile {
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px 30px 20px;
}

.avatar {
  height: 125px;
  width: 125px;
  border-radius: 125px;
  float: left;
  margin: 25px 35px 100px 15px;
}

.name {
  font-size: 1.5em;
  font-weight: 700;
}

.joined {
  position: absolute;
  top: 55px;
  right: 40px;
  font-size: 0.9em;
}

.info-container {
  padding: 30px 30px 0px 30px;
}

.stats-container {
  margin-top: 5px;
  max-width: 460px;
  width: 100%;
  margin-left: auto;
  padding: 20px;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  margin: 25px 25px 25px 0;
  padding: 15px;
}

.stat {
  font-size: 1.2em;
  font-weight: 700;
}

.socials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 0.8em;
  gap: 10px;
  width: 100%;
  margin: 15px 0;
  padding: 0 15px;
}

.icon {
  margin-right: 10px;
}

.not-available {
  opacity: 50%;
}

@media only screen and (max-width: 810px) {
  .App {
    padding: 50px;
  }

  .joined {
    float: none;
    position: inherit;
  }
  .avatar {
    margin: 25px 35px 0px 15px;
  }

  .main {
    margin-bottom: 45px;
  }

  .stats-container {
    margin-top: 35px;
    max-width: none;
    width: 100%;
    padding: 10px;
  }

  .socials {
    gap: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    min-width: 325px;
    padding: 20px;
    margin: 0px;
  }

  .profile {
    padding: 18px;
  }

  .avatar {
    height: 75px;
    width: 75px;
    border-radius: 75px;
    float: left;
    margin: 15px 25px 0px 5px;
  }

  .stats-container {
    margin-top: 5px;
    max-width: none;
    width: 100%;
    padding: 10px;
  }

  .name {
    font-size: 1.2em;
  }

  .joined {
    float: none;
    position: inherit;
  }

  .searchbar input {
    font-size: 1.1em;
  }

  .socials {
    padding: 0;
    margin: 0;
    line-height: 2em;
    display: inline;
  }

  .stats {
    font-size: 0.8em;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
  }
}
